<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @politician.full_name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @politician.mobile %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @politician.twitter %>
</p>

<p>
  <strong>Political party:</strong>
  <%= @politician.political_party %>
</p>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
